*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans',sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0;
}

main {
    width: 100%;
    display: grid;
    padding: 0 16px;
    margin: 16px 0;
}

main.col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-gap: 10px;
}

article, section {
    display: grid;
    justify-content: center;
}

article p {
    display: inline-block;
}

.Btn {
    background-color: #5f00ba;
    color: #fff2f1;
    border-radius: 20px;
    padding: 12px 24px !important;
    margin: 12px auto;
}

.Btn:hover {
    cursor: pointer;
    background-color: #9000ff;
}





/* Màu chính #fff2f1 */
/* Màu phụ #333333 */
/* Màu tham khảo: màu tối #5f00ba */
/* Màu tham khảo: màu sáng #a09be7*/

/* Header */

header {
    width: 100%;
    background: #a09be7;
    background-position: center;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logoContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "logo brand";
    justify-items: left;
    align-items: center;
}

.logoContainer img {
    margin: 12px;
    width: 70px;
    border-radius: 15px;
    grid-area: logo;
}

.logoContainer .brand {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    grid-area: brand;
}

header nav.large {
    padding: 12px 0;
}

header li {
    display: inline-block;
}

header a {
    background-color: #fff2f1;
    color: #333;
    margin: 0 8px;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

header a:hover {
    background-color: #000;
    color: #fff2f1;
}

#cartBtn {
    position: relative;
    float: right;
    bottom: 45px;
}

/* Footer */

footer {
    width: 100%;
    background: #a09be7;
    background-attachment: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
    text-align: center;
}

#top {
    position: fixed;
    z-index: 99;
    bottom: 24px;
    right: 24px;
    background-color: #333;
    color: #fff2f1;
    padding: 12px;
    border-radius: 5px;
}
#top:hover {
    cursor: pointer;
}

footer p {
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    line-height: 24px;
    padding: 12px 12px;
}

/* Trang giới thiệu */

#bannerContainer {
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: 500px;
    width: 100%;
    align-items: center;
    margin: 12px 0;
}

#bannerContainer img {
    width: 100%;
}

.fade {
    display: none;
}

#prev {
    justify-self: right;
}

#next {
    justify-self: left;
}

#prev, #next {
    padding: 16px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

#prev:hover, #next:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff2f1;
}

p.intro {
    border: 2px solid rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    padding: 16px;
}



/* Cart */

#cartTable {
    position: relative;
    width: 100%;
    margin: 16px auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 12px 24px;
    text-align: center;
}

#cartTable td {
    padding: 4px;
}

#cartTable img {
    width: 100px;
}

.cancelBtn {
    padding: 8px 20px;
    background-color: #5f00ba;
    color: #fff2f1;
    border-radius: 20px;
}

.cancelBtn:hover {
    background-color: red;
    color: #fff2f1;
    border-color: none;
    cursor: pointer;
}


/*Form đăng ký và đăng nhập*/
.secForm{
    display:flex;
    height : 600px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:url('./Assets/img/backgroundsecForm.png') no-repeat;
    background-size:cover;
    background-position: center;

}
.wrapper{
    position: relative;
    background: transparent;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
    display : flex;
    justify-content: center;
    backdrop-filter: blur(15px);
}
.wrapper .form-box{
    width: 100%;
    padding : 50px;
}
.form-box h2{
    position : relative;
    text-align: center;
    color: #5f00ba;
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}
.input-box{
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size : 15px;
    padding :0 35px 0 5px;
}


.input-box .icon{
    position: absolute;
    right : 9px;
    top : -10px;
    font-size: 18px;

}
.icon i{
    color: #333;
    transition: color 0.3s ease;
}
.icon:hover i {
    color : #5f00ba;
    cursor: pointer;
}
.button{
    position: relative;
    width:100%;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #5f00ba;
    border : none;
    cursor: pointer;
    color : rgba(255, 255, 255, 0.99);
}
.button:hover{
    background-color: #9000ff;
}
.remember-me{
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.remember-me a{
    color : #000;
}
.remember-me a:hover{
    text-decoration: underline;
    color : #5f00ba;
}
.signup-link{
    font-size: 15px;
    text-align: center;
    margin: 25px 0 5px;
}
.signup-link p a{
    font-weight: 600;
    font-size: 14px;
    color : #000;
}
.signup-link p a:hover{
    text-decoration: underline;
    color: #5f00ba;
}
@media (max-width:420px){
    .wrapper{
        width:100%;
        height:600px;
        border:none;
        border-radius: 0;
    }
}
/*
----------------------
*/

/* Lien he */

.branch,
.online {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 12px;
    display: grid;
    grid-gap: 24px;
}

.branchContent,
.onlineContent {
    display: grid;
    grid-gap: 24px;
}

.branchItem {
    display: grid;
}

.branchItem * {
    text-align: left;
}

#contactForm .input-box {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 12px 24px;
}

