*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0;
}

/* Màu chính #fff2f1 */
/* Màu phụ #333333 */
/* Màu tham khảo: màu tối #5f00ba */
/* Màu tham khảo: màu sáng #a09be7*/


header {
    width: 100%;
    display: inline-block;
    background: url(./Assets/img/header_background.jpg);
    background-position: center;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#logo {
    margin: 12px;
    width: 70px;
    border-radius: 15px;
}

header li {
    display: inline-block;
}

header a {
    background-color: #fff2f1;
    margin: 0 8px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

header a:hover {
    background-color: #000;
    color: #fff;
}

#searchBox {
    position: relative;
    display: inline-block;
    /* float: right; */
    margin-top: 12px;
    background-color: #333;
    padding: 8px;
}

#searchBox button,
#searchBox input{
    border-radius: 5px;
    border: none;
    padding: 4px;
}

#searchBox input:hover,
#searchBox button:hover{
    cursor: pointer;
}

#cartTable,
#cartTable td,
#cartTable tr {
    text-align: center;
    border: 1px solid #000;
}


#cartTable {
    border: solid 5px #5f00ba;
    margin: 16px auto;
}

#cartTable td {
    min-width: 200px;
    padding: 4px;
}

#cartTable img {
    width: 100px;
}

.cancelBtn {
    padding: 8px 20px;
    background-color: #fff2f1;
    color: #333;
    border: solid 1px #333;
    border-radius: 5px;
}

.cancelBtn:hover {
    background-color: #333;
    color: #fff2f1;
    cursor: pointer;
}

footer {
    width: 100%;
    background: url(./Assets/img/header_background.jpg);
    background-attachment: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
}

#top {
    position: fixed;
    z-index: 99;
    bottom: 24px;
    right: 24px;
    background-color: #333;
    color: #fff2f1;
    padding: 12px;
    border-radius: 5px;
}
#top:hover {
    cursor: pointer;
}

footer p {
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    background-color: #333;
    color: #fff2f1;
    text-align: center;
    line-height: 24px;
    margin: auto;
}
/*
----------------------
*/
.secForm{
    display:flex;
    height : 600px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:url('./Assets/img/backgroundsecForm.png') no-repeat;
    background-size:cover;
    background-position: center;

}
.wrapper{
    position: relative;
    background: transparent;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
    display : flex;
    justify-content: center;
    backdrop-filter: blur(15px);
}
.wrapper .form-box{
    width: 100%;
    padding : 50px;
}
.form-box h2{
    position : relative;
    text-align: center;
    color: #5f00ba;
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}
.input-box{
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size : 15px;
    padding :0 35px 0 5px;
}


.input-box .icon{
    position: absolute;
    right : 9px;
    top : -10px;
    font-size: 18px;

}
.icon i{
    color: #333;
    transition: color 0.3s ease;
}
.icon:hover i {
    color : #5f00ba;
    cursor: pointer;
}
.button{
    position: relative;
    width:100%;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #5f00ba;
    border : none;
    cursor: pointer;
    color : rgba(255, 255, 255, 0.99);
}
.button:hover{
    background-color: #9000ff;
}
.remember-me{
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.remember-me a{
    color : #000;
}
.remember-me a:hover{
    text-decoration: underline;
    color : #5f00ba;
}
.signup-link{
    font-size: 15px;
    text-align: center;
    margin: 25px 0 5px;
}
.signup-link p a{
    font-weight: 600;
    font-size: 14px;
    color : #000;
}
.signup-link p a:hover{
    text-decoration: underline;
    color: #5f00ba;
}
@media (max-width:420px){
    .wrapper{
        width:100%;
        height:600px;
        border:none;
        border-radius: 0;
    }
}
/*
----------------------
*/
