*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0;
}

/* Màu chính #fff2f1 */
/* Màu phụ #333333 */
/* Màu tham khảo: màu tối #5f00ba */
/* Màu tham khảo: màu sáng #a09be7*/


header {
    width: 100%;
    display: inline-block;
    background: url(./Assets/img/header_background.jpg);
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#logo {
    margin: 12px;
    width: 150px;
    border-radius: 15px;
}

#logo:hover {
    cursor: pointer;
}

header li {
    display: inline-block;
}

header a {
    background-color: #fff2f1;
    margin: 0 8px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

header a:hover {
    background-color: #000;
    color: #fff;
}

#searchBox {
    position: relative;
    float: right;
    bottom: 20px;
    margin-right: 12px;
    background-color: #333;
    padding: 8px;
}

#searchBox button,
#searchBox input{
    border-radius: 5px;
    border: none;
    padding: 4px;
}

#searchBox button:hover{
    cursor: pointer;
    color: #fff2f1;
    background-color: #000;
}

#cartTable,
#cartTable td,
#cartTable tr {
    text-align: center;
    border: 1px solid #000;
}


#cartTable {
    border: solid 5px #5f00ba;
    margin: 16px auto;
}

#cartTable td {
    min-width: 200px;
    padding: 4px;
}

#cartTable img {
    width: 100px;
}

.cancelBtn {
    padding: 8px 20px;
    background-color: #fff2f1;
    color: #333;
    border: solid 1px #333;
    border-radius: 5px;
}

.cancelBtn:hover {
    background-color: #333;
    color: #fff2f1;
    cursor: pointer;
}

footer {
    width: 100%;
    background: url(./Assets/img/header_background.jpg);
    background-attachment: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
}

#top {
    position: fixed;
    z-index: 99;
    bottom: 24px;
    right: 24px;
    background-color: #333;
    color: #fff2f1;
    padding: 12px;
    border-radius: 5px;
}

footer p {
    text-transform: uppercase;
    color: #fff2f1;
    text-align: center;
    line-height: 24px;
    margin: auto;
}